*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #e9f7e9;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.App {
  background-image: linear-gradient(#e7f4e8, #6094af);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
}

header {
  background: #2d8888;
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

h1 {
  color: #e9f7e9;
  font-family: 'Ramabhadra', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.05ch;
  grid-column: 2 / 3;
  line-height: 2rem;
  padding: 0.5rem;
}

.infoContainer {
  cursor: pointer;
}

.info {
  font-size: 0.6rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.modal {
  padding: 0.5rem;
  width: 90%;
  height: 90%;
  background: #122c35;
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  text-align: left;
  overflow: scroll;
}

.modal a {
  color: #6be9dd;
}

.exitContainer {
  width: 25%;
  margin-left: auto;
  cursor: pointer;
}

.exit {
  color: #3fb6aa;
  font-size: 1.4rem;
  display: block;
  margin: 0.2rem 0.2rem 1.2rem auto;
}

.exit:hover {
  color: #6be9dd;
}

h3 {
  text-align: center;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.pContainer {
  padding: 0.5rem;
}

.pContainer p {
  padding: 0.5rem 0;
  font-size: 0.8rem;
}

.message {
  color: #236c6c;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.imageContainer {
  width: 90%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: inherit;
  object-fit: contain;
}

.error {
  height: 70%;
  object-fit: contain;
}

form {
  padding-top: 1rem;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  row-gap: 0.5rem;
  font-size: 0.9rem;
}

label {
  font-weight: 500;
}

input {
  width: auto;
  margin-left: 8px;
  border: none;
  color: #e9f7e9;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  background: transparent;
  border-bottom: 2px dotted #122c35;
}

input::placeholder {
  color: #2f4858
}

button {
  display: block;
  width: 100%;
  border: none;
  padding: 0rem 0.8rem;
  background: #34978d;
  color: #e9f7e9;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Ramabhadra', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -0.05ch;
  box-shadow: 1px 3px 5px #122c35;
  margin-bottom: 1rem;
}

button:hover {
  background: #4bc2b6;
}

footer {
  padding: 0.8rem;
  background: #183c47;
  font-size: 0.8rem;
}

span {
  opacity: 0.8;
  padding-right: 0.2rem;
}

a {
  text-decoration: none;
  color: #d9ecf6;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

.links {
  padding-top: 0.7rem;
}

.links a {
  padding-left: 0.5rem;
}

.loading {
  width: 50px;
  height: auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-height: 400px) {
  form {
    width: 90%;
  }
}

@media screen and (min-width: 710px) and (min-height: 420px) {
  h1 {
    font-size: 2.7rem;
    padding: 1rem;
  }

  .info {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .message {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
  }

  .modal {
    padding: 1.5rem;
  }

  .pContainer {
    padding: 2rem 4rem;
  }

  .pContainer p {
    font-size: 1rem;
  }

  form {
    font-size: 1.1rem;
    width: 70%;
  }

  button {
    /* padding: 1rem 2rem; */
    font-size: 2rem;
  }

  footer {
    padding: 2rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .links {
    padding-top: 0.3rem;
    font-size: 1.2rem;
  }
  
}

@media screen and (min-width: 800px) and (min-height: 500px) {
  h1 {
    padding: 1.5rem;
  }
  form {
    width: 60%;
  }

  .modal {
    width: 70%;
  }
}

@media screen and (min-width: 700px) and (max-height: 500px) {
  form {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  form {
    width: 50%;
  }
  .modal {
    width: 50%;
    height: 80%;
  }
}

@media screen and (min-width: 1200px) {
  form {
    width: 40%;
  }
}