*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #e9f7e9;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.App {
  background-image: linear-gradient(#e7f4e8, #4e7499);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
}

header {
  background: #2d8888;
}

h1 {
  color: #e9f7e9;
  font-family: 'Ramabhadra', sans-serif;
  font-size: 1.8rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.imageContainer {
  width: 90%;
  height: 50vh;
}

img {
  width: 100%;
  height: inherit;
  object-fit: contain;
}

form {
  padding-top: 1rem;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  font-size: 0.9rem;
}
/* 
label, input {
  flex-basis: 2;
} */

input {
  width: auto;
  padding-left: 5px;
  border: none;
  color: #e9f7e9;
  font-size: inherit;
  background: transparent;
}

input::placeholder {
  color: #2f4858
}

button {
  display: block;
  width: 100%;
  border: none;
  padding: 0.8rem 1rem;
  background: #2d827a;
  color: #e9f7e9;
  border-radius: 25px;
  cursor: pointer;
  /* flex-grow: 2; */
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 1px 5px 15px #122c35;
}

button:hover {
  background: #3baa9e;
}

footer {
  padding: 0.8rem;
  background: #1e4a58;
  font-size: 0.8rem;
}

span {
  opacity: 0.8;
  padding-right: 0.2rem;
}

a {
  text-decoration: none;
  color: #e9f7e9;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

.links {
  padding-top: 0.7rem;
}

.links a {
  padding-left: 0.5rem;
}

@media screen and (min-width: 360px) {
  h1 {
    font-size: 2rem;
    /* padding: 1rem; */
  }
}

@media screen and (min-width: 400px) {
  h1 {
    font-size: 2.3rem;
    /* padding: 1rem; */
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 2.7rem;
    padding: 0.7rem;
  }

  form {
    font-size: 1.1rem;
  }

  button {
    padding: 1rem 2rem;
    font-size: 2rem;
  }

  footer {
    padding: 2rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .links {
    padding-top: 0.3rem;
    font-size: 1.2rem;
  }
  
}

@media screen and (min-width: 780px) {
  form {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  form {
    width: 50%;
  }
}