:root {
  --light-bg-color: rgb(220, 247, 249);
  --dark-bg-color: rgb(179, 226, 246);
  --light-color: white;
  --medium-teal-color: #00a1b3;
  --dark-teal-color: #015060;
  --highlight-color: rgb(46, 200, 217);
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  color: white;
  color: var(--light-color);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.App {
  width: 100%;
}

.wrapper {
  min-height: 100vh;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

header {
  background: var(--medium-teal-color);
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  justify-items: center;
  align-items: center;
}

h1 {
  color: var(--light-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-size: calc(1.3rem + 2vw);
  font-weight: 800;
  letter-spacing: -0.05ch;
  grid-column: 2 / 3;
  line-height: 2rem;
  padding: 0.5rem;
  padding: calc(0.1rem + 1vw);
}

.infoContainer {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.infoContainer:hover {
  opacity: 0.8;
}

.info {
  font-size: 0.8rem;
  font-size: calc(0.5rem + 1vw);
}

main {
  background-color: var(--light-color);
  flex: 1 0 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0 1rem 0;
}

.modal {
  color: var(--light-color);
  padding: 0.5rem;
  width: 90%;
  height: 90%;
  max-width: 680px;
  background: var(--dark-teal-color);
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  text-align: left;
  overflow: scroll;
  box-shadow: 0px 0px 20px 5px var(--highlight-color);
}

.modal a {
  color: var(--highlight-color);
}

.exitContainer {
  width: 2.2rem;
  height: 2.2rem;
  margin-left: auto;
  margin-bottom: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit {
  color: var(--highlight-color);
  font-size: 1.4rem;
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.exit:hover,
.exit:focus {
  opacity: 0.7;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  font-size: calc(1rem + 1vw);
  font-weight: 700;
  letter-spacing: -0.05ch;
  padding: 0 1rem 1rem 1rem;
}

.pContainer {
  padding: 0.5rem;
  padding: 0 calc(0.1rem + 2vw);
}

.pContainer p {
  padding: 0.5rem 0;
  font-size: 0.8rem;
  font-size: calc(0.5rem + 1vw);
}

.message {
  color: var(--dark-teal-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-size: calc(1rem + 1vw);
  font-weight: 800;
  letter-spacing: -0.05ch;
  padding: 0 2rem;
}

.imageContainer {
  max-width: 95%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.image {
  object-fit: contain;
  overflow: hidden;
  box-shadow: 3px 5px 7px 0px rgb(106, 106, 106);
}

.error {
  height: 70%;
  object-fit: contain;
}

form {
  padding: 1rem 0.5rem;
  font-size: 0.7rem;
  font-size: calc(0.6rem + 1vw);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.3rem;
}

.inputDeleteContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.textContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
} 

.checkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

label {
  font-weight: 500;
  color: var(--dark-teal-color);
}

input {
  padding: 0.2rem 0 0.2rem 0;
  width: auto;
  border: none;
  /* border: 1px solid var(--medium-teal-color); */
  border-radius: 5px;
  color: var(--dark-teal-color);
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  background: var(--light-bg-color);
}

.deleteContainer {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.deleteContainer:hover {
  opacity: 0.8;
}

.delete {
  font-size: 1.1rem;
  font-size: calc(1rem + 1vw);
  color: var(--medium-teal-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgb(180, 210, 212);
  border-radius: 100px;

}

.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--light-color);
  top: 1px;
  left: 1px;
  transition: all 200ms;	
  box-shadow: inset -1px -1px 3px var(--dark-teal-color);
}

.toggle:checked + .switch::after {
  left: 20px;
}

.toggle:checked + .switch {
  background-color: var(--medium-teal-color);
}

.toggle {
  display: none;
}

button {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 0.7rem 1.8rem;
  padding: calc(0.5rem + 1vh) calc(1rem + 2vw);
  background: var(--medium-teal-color);
  color: var(--light-color);
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-size: calc(0.7rem + 2vw);
  font-weight: 800;
  letter-spacing: -0.05ch;
  box-shadow: inset 0px -5px 10px 3px var(--dark-teal-color);
  transition: all 200ms ease-in-out;

  margin-bottom: 1rem;
}

button:hover,
button:focus {
  /* transition: all 0.5s ease-in-out; */
  background: var(--dark-teal-color);
  box-shadow: inset 0px -5px 7px 0 var(--dark-teal-color);
}

button:active {
  transform: scale(0.98);
  background: var(--medium-teal-color);
  box-shadow: inset 0px -5px 3px var(--dark-teal-color);
}

footer {
  width: 100%;
  padding: 0.8rem;
  padding: calc(0.8rem + 1vh);
  background: var(--dark-teal-color);
  font-size: 0.8rem;
  font-size: calc(0.5rem + 1vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

span {
  padding-right: 0.2rem;
}

a {
  text-decoration: none;
  color: var(--light-color);
  opacity: 1;
  transition: all 200ms ease-in-out;
}

a:hover {
  opacity: 0.8;
}

.links a {
  padding-left: 0.5rem;
}

.loading {
  margin-top: 2rem;
  width: 50px;
  height: auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (orientation: landscape) {
  footer {
    flex-direction: row;
  }

  .links {
    padding-top: 0.2rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
  main {
    flex-direction: row;
    padding: 0 0.5rem;
  }

  .imageContainer {
    height: 60vh;
    width: 60vw;
  }

  button {
    font-size: 1.2rem;
  }

}

@media screen and (min-width: 800px) and (min-height: 500px) {
  h1 {
    padding: 1.5rem;
  }
  form {
    width: 60%;
  }

  .info {
    font-size: 1.2rem;
  }

  .modal {
    height: 80%;
  }

  h3 {
    font-size: 1.8rem;
  }

  .pContainer {
    padding: 1rem 2rem;
  }

  .pContainer p {
    font-size: 1rem;
  }

  button {
    font-size: 2rem;
  }

  footer {
    font-size: 0.9rem;
    flex-direction: row;
  }

  .links {
    font-size: 1.1rem;
    padding-top: 0.2rem;
  }
}

@media screen and (min-width: 1000px) {
  form {
    width: 50%;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1200px) {
  form {
    width: 40%;
  }
}