:root {
  --light-bg-color: rgb(222, 238, 238);
  --dark-bg-color: rgb(179, 226, 246);
  --light-color: white;
  --light-teal-color: hsl(186, 100%, 35%);
  --medium-teal-color: hsl(187, 70%, 33%);
  --dark-teal-color: hsl(190, 98%, 19%);
  --highlight-color: rgb(46, 200, 217);

  --ff-header: 'Montserrat', sans-serif;
  --ff: 'Inter', sans-serif;

  --br: 5px;

  --trans-anim: all 400ms ease-in-out;
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  color: white;
  color: var(--light-color);
  font-family: var(--ff);
}

button {
  border: none;
  background-color: transparent;
}

.App {
  width: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

header {
  padding-inline: 0.5rem;
  background-color: var(--light-teal-color);
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  justify-items: center;
  align-items: center;
}

.header__title {
  text-align: center;
  color: var(--light-color);
  font-family: var(--ff-header);
  font-size: 1.5rem;
  font-size: clamp(1rem, 1rem + 2vmin, 2rem);
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.05ch;
  grid-column: 2 / 3;
  padding: 0.5rem;
  padding: clamp(0.5rem, 0.5rem + 1vmin, 1rem);
}

.header__info-container,
.modal__exit-container {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--br);
  outline: 1px solid transparent;
}

.header__info-container:focus-visible {
  box-shadow: 0 0 0 0 var(--light-teal-color),
              0 0 0 2px var(--dark-teal-color);
}

.header__info-icon {
  color: var(--light-color);
  font-size: 0.8rem;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.1rem);
}

main {
  background-color: var(--light-color);
  flex: 1 0 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-inline: auto;
  max-width: 95%;
}

.main__container {
  background-color: var(--light-color);
  margin-block: 2em;
  width: 100%;
  max-width: min(95%, 80em);

  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clamp(4em, 1em + 2vmin, 5em);
  column-gap: clamp(2em, 1em + 1vmin, 10em);
}

.modal__container {
  color: var(--light-color);
  padding: 0.5em;
  width: 90%;
  height: 90%;
  max-width: 680px;
  max-height: 700px;
  background-color: var(--dark-teal-color);
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  text-align: left;
  overflow: scroll;
  box-shadow: 0px 0px 20px 5px var(--highlight-color);
}

.modal__link,
.modal__num-container {
  color: var(--highlight-color);
  outline: 2px solid transparent;
  border-radius: 2px;
  padding-inline: .2em;
}

sup.modal__num {
  margin: auto;
  padding: 0.2em; 
  line-height: 1;
}

.modal__link:focus-visible,
.modal__num-container:focus-visible {
  box-shadow: 0 0 0 0 var(--dark-teal-color),
              0 0 0 2px var(--light-teal-color);
}

.modal__exit-container {
  margin-left: auto;
}

.modal__exit-container:focus-visible {
  box-shadow: 0 0 0 2px var(--light-teal-color);
}

.modal__exit-icon {
  color: var(--highlight-color);
  font-size: 1.4rem;
}

.modal__title {
  font-family: var(--ff-header);
  text-align: center;
  font-size: 1.2rem;
  font-size: calc(1rem + 1vw);
  font-size: clamp(1rem, 1rem + 2vmin, 3rem);
  font-weight: 700;
  letter-spacing: -0.05ch;
  padding: 0 1em;
  margin-bottom: 1em;
}

.modal__body {
  padding: 0.5rem;
  padding: 0 calc(0.1rem + 2vw);
  padding: 0 clamp(0.5em, 0.2em + 2vmax, 2em);
}

.modal__body p {
  padding: 0.7em 0;
  padding: clamp(0.7em, 0.7em + 1vmin, 1em) 0;
  font-size: 0.8rem;
  font-size: calc(0.5rem + 1vw);
  font-size: clamp(0.6rem, 0.6rem + 1vmin, 1rem);
}

.modal__main {
  margin-bottom: 2em;
}

.modal__num {
  color: var(--highlight-color);
  font-family: var(--ff-header);
  margin-right: 0.3em;
}

.image__message {
  color: var(--dark-teal-color);
  font-family: var(--ff);
  font-size: 1.2rem;
  font-size: calc(1rem + 1vw);
  font-weight: 800;
  letter-spacing: -0.05ch;
}

.image__container {
  max-width: 100%;
  min-height: 30vmax;
  max-height: 30vmin;
  height: min(100%, 50vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex: 1;
}

.image {
  max-width: 100%;
  object-fit: contain;
  overflow: hidden;
  box-shadow: 3px 5px 8px 0px rgb(106, 106, 106);
}

.request {
  width: min(100%, 30em);
  margin: 0 auto;
  flex: 1;
}

.request__title {
  padding: 0;
  margin: 0;
  color: var(--light-teal-color);
  font-family: var(--ff);
  font-size: 2.1rem;
  font-size: clamp(2.1rem, 2rem + 3vmin, 5rem);
  font-weight: 800;
  line-height: 1em;
  letter-spacing: -0.08rem;
  margin-bottom: 0.2em;
  background: linear-gradient(0deg, var(--dark-teal-color), 30%, var(--light-teal-color));
  /* background: -webkit-linear-gradient(var(--medium-teal-color), var(--dark-teal-color)); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.request__sub {
  color: var(--dark-teal-color);
  font-size: 1.2rem;
  font-size: clamp(0.7rem, 0.7rem + 1vmin, 1.3rem);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.05em;
  margin-bottom: 2em;
}

.request__form {
  width: min(100%, 30em);
}

.request__label {
  font-family: var(--ff);
  font-size: 0.9rem;
  font-size: clamp(0.5rem, 0.5rem + 1vmin, 0.9rem);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--medium-teal-color);
}

.request__label:hover,
.request__label:focus {
  color: var(--dark-teal-color);
}

.request__text-warning {
  margin-left: 1rem;
  font-family: var(--ff);
  font-size: 0.8rem;
  font-size: clamp(0.4rem, 0.4rem + 1vmin, 0.8rem);
  font-weight: 600;
  letter-spacing: -0.05ch;
  color: rgb(209, 0, 0);
}

.request__text-container {
  margin: 0.4em 0 1.5em 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.request__text {
  outline: 1px solid transparent;
}

.request__text:focus-within {
  box-shadow: 0 0 0 0 var(--dark-bg-color),
              0 0 0 2px var(--medium-teal-color);
}

.request__check-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 0.4rem;
  flex: 1;
  border: none;
  border-radius: var(--br);
  color: var(--dark-teal-color);
  font-family: var(--ff);
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--light-bg-color);
}

.request__delete-container {
  flex: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.request__delete-icon {
  margin-left: -2em;
  font-size: 1.2rem;
  color: var(--medium-teal-color);
}

.request__switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: var(--light-bg-color);
  border-radius: 100px;

}

.request__switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--light-color);
  top: 1px;
  left: 1px;
  transition: var(--trans-anim);	
  box-shadow: inset -1px -1px 3px var(--dark-teal-color);
}

.request__toggle:checked + .request__switch::after {
  left: 20px;
}

.request__toggle:checked + .request__switch {
  background-color: var(--light-teal-color);
}

.request__toggle {
  display: none;
}

.request__button {
  width: 100%;
  margin: 1.3em auto 0 auto;
  border: none;
  padding: 0.8em;
  /* padding: calc(0.5rem + 1vh) calc(1rem + 2vw); */
  background-color: var(--light-teal-color);
  color: var(--light-color);
  border-radius: 50px;
  cursor: pointer;
  font-family: var(--ff-header);
  font-size: 1.1rem;
  font-size: clamp(1.1rem, 0.7rem + 2vmin, 1.7rem);
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.05ch;
  outline: 1px solid transparent;
  box-shadow: inset 0px -5px 10px 3px var(--dark-teal-color);
  transition: var(--trans-anim);
}

.request__button:hover,
.request__button:focus-visible {
  background-color: var(--dark-teal-color);
  box-shadow: inset 0px -5px 7px 0 var(--dark-teal-color);
}

.request__button:focus-visible {
  box-shadow: 0 0 0 0 transparent,
              0 0 0 3px var(--dark-teal-color);
}

.request__button:active {
  transform: scale(0.98);
  background-color: var(--light-teal-color);
  box-shadow: inset 0px -5px 3px var(--dark-teal-color);
}

.request__button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
  color: var(--light-bg-color);
}

footer {
  width: 100%;
  padding: 0.8rem;
  padding: calc(0.8rem + 1vh);
  background-color: var(--dark-teal-color);
  font-family: var(--ff-header);
  font-size: 0.8rem;
  font-size: calc(0.5rem + 1vw);
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
}

.footer__container {
  width: min(80%, 30em);
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

.footer__year {
  padding-right: 0.25em;
}

.footer__portfolio {
  padding: 0.25em;
  border-radius: 1px;
}

.footer__links {
  display: flex;
  column-gap: 0.75em;
}

.footer__link {
  border-radius: var(--br);
  outline: 0 solid transparent;
}

.footer__link:hover,
.footer__link:focus-visible {
  transform: rotateY(360deg) scale(1.1);
}

.footer__link:focus-visible {
  box-shadow: 0 0 0 0 var(--dark-teal-color),
              0 0 0 1px var(--light-teal-color);
}

.footer__icon {
  padding: 0.2em;
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1.1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px dotted yellow; */
}

.image__loading {
  margin-top: 2rem;
  width: 50px;
  height: auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.clickable {
  cursor: pointer;
}

.clickable:hover,
.clickable:focus-visible {
  opacity: 0.8;
  transition: var(--trans-anim);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (orientation: landscape) and (min-width: 35em) {
  .main__container {
    flex-direction: row;
  }

  .image__container {
    flex: 1;
  }

}